<div class="dashboard">
    {{#if loggedIn}}
    <div class="postBox gone">
        <div class="postTitle">
            <p>New Post</p>
        </div>
        <div class="newPost">
            <input class="form-control" name="post-title" type="text" placeholder="Post Title">
            <input class="form-control form-control-lg" name="post-content" type="text" placeholder="Content Here">
        </div>
        <button class="btnPost" type="button">Submit</button>
    </div>
    <div class="dashContent">
        <div class="btnBox">
            <button id="newPostBtn" type="button">+ New Post</button>
            <h2 class="dashHeader">This is your developer dashboard. A place to create, view, and edit your posts</h2>
        </div>
    </div>
    <div>
        {{#each posts}}
        <section class="post">
            <div class="postTitle">
                <p class="moreSpace">
                    {{heading}}
                </p>
                <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
            </div>
            <div class="contentBox">
                <p class="content">{{body}} with {{id}}</p>
                <input type="hidden" name="postId" value="{{id}}" />
                <div class="editRmv">
                    <a href="/edit/{{id}}">
                        <button type="button" class="btn editBtn">Edit</button>
                    </a>
                    <button type="button" class="btn removeBtn">Delete</button>
                </div>
            </div>
        </section>
        {{/each}}
    </div>

    {{/if}}
</div>

<script src="/js/post.js"></script>
<script src="/js/delete.js"></script>