<div class="gallery">
    {{#if loggedIn}}
    {{!-- <p>Hello</p> --}}
    {{!-- <p>{{posts.heading}}</p> --}}

    {{!-- {{#each blogs}}
    <div class="post">
        <div class="postTitle">
            <p>{{title}}</p>
            <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <p class="content">{{content}}</p>
    </div>
    {{/each}}

    {{!-- {{#each post}}
    <h2>{{title}}</h2>
    {{/each}} --}}

    {{#each posts}}
    <div class="post">
        <div class="postTitle">
            <p class="moreSpace">
                <a href="/post/{{id}}" class="postLink">{{heading}}</a>
            </p>
            <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <p class="content">{{body}}</p>
    </div>
    {{/each}}

    {{/if}}
</div>