<div class="gallery">

    {{#each posts}}
    <div class="post">
        <div class="postTitle">
            <p class="moreSpace">
                <a href="/post/{{id}}" class="postLink">{{heading}}</a>
            </p>
            <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <p class="content">{{body}}</p>
    </div>
    {{/each}}

</div>